{% load staticfiles %}
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Contacts</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static "dist/css/AdminLTE.min.css" %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
          page. However, you can choose any other skin. Make sure you
          apply the skin class to the body tag so the changes take effect.
    -->
    <link rel="stylesheet" href="{% static "dist/css/skins/skin-yellow-light.min.css" %}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

    <!-- REQUIRED JS SCRIPTS -->

    <!-- jQuery 2.1.4 -->
    <script src="{% static "plugins/jQuery/jQuery-2.1.4.min.js" %}"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static "dist/js/app.min.js" %}"></script>

    <!-- Optionally, you can add Slimscroll and FastClick plugins.
         Both of these plugins are recommended to enhance the
         user experience. Slimscroll is required when using the
         fixed layout. -->

    <link href="{% static "plugins/iCheck/flat/orange.css" %}" rel="stylesheet">
    <script src="{% static "plugins/iCheck/icheck.js" %}"></script>
    {% block header %}
    {% endblock %}
</head>
<body class="hold-transition skin-blue-light sidebar-mini sidebar-collapse">
<div class="wrapper">
    <!-- Main Header -->
    <header class="main-header">
        <!-- Logo -->
        <a href="" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b><i class="fa fa-circle-o"></i></b>Countacts</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b></b>Countacts</span>
        </a>
        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <span class="hidden-xs"></span>

                </ul>
                <ul class="nav navbar-nav">
                     <!-- User Account Menu -->
                  <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="hidden-xs">{{ user }}</span>
                            <i class="fa fa-user"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-footer">
                                <div class="pull-left">
                                   <a href="{% url "accounts:settings" %}" class="btn btn-default btn-flat">Settings</a>
                                </div>

                                <div class="pull-right">
                                    <a href="{% url "accounts:logout" %}" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    {% if user.is_superuser %}
    {% include "sidebar_menu_admin.html" %}
    {% else %}
    {% include "sidebar_menu_client.html" %}
    {% endif %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        {% block content_wrapper %}
        {% endblock %}
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->

</div>
<!-- ./wrapper -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/bootbox/bootbox.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.file-input.js' %}"></script>
.
<script>
     var links = {
         get_all_contacts: "{% url 'core:ajax_get_all_contacts' %}",
         ajax_clients_datatable: "{% url 'core:ajax_clients_datatable' %}",
         ajax_contact_change_modal: "{% url 'core:ajax_contact_change_modal' %}",
         ajax_delete_contact_modal: "{% url 'core:ajax_delete_contact_modal' %}",
         ajax_add_contact_modal: "{% url 'core:ajax_add_contact_modal' %}",
         upload_csv_file: "{% url 'core:upload_csv_file' %}",
         ajax_add_contact_vero: "{% url 'core:ajax_add_contact_vero' %}",
         ajax_change_password_form: '{% url "accounts:change_password" %}',
     }
</script>
<script src="{% static "js/general.js" %}"></script>
{% block js_bottom %}
{% endblock %}
</body>
</html>
