<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li id="menu_contacts"><a href="{% url 'core:all_contacts' %}"><i class="fa fa-bar-chart"></i> <span>All Contacts</span></a></li>
            <li id="menu_clients"><a href="{% url 'core:all_users' %}"><i class="fa fa-users"></i> <span>Manage Clients</span></a></li>
            <li class="header">Settings</li>
            <li id="menu_settings"><a href="{% url "accounts:settings" %}"><i class="fa fa-gear"></i> <span>My settings</span></a></li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>