{% extends "base.html" %}
{% load static %}
{% block header %}
{% endblock %}
{% block content_wrapper %}
<section class="content-header">
    {% block content-header %}
        <h1>
            All Contacts
        </h1>
    {% endblock %}
</section>
<section class="content">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Latest Contacts</h3>
                <button type="button" class="btn btn-primary btn-sm edit_modal pull-right" data-cid="null"
                        id="add_contact"  data-toggle="modal" data-target="#contacts_modal">+
                </button>
                <button type="button" class="btn btn-primary btn-sm edit_modal pull-right" data-cid="null"
                        id="vero_contact_add"  data-toggle="modal" data-target="#modal_vero">Export All in CetVero
                </button>
                <button type="button" class="btn btn-primary btn-sm edit_modal pull-right" data-cid="null"
                        id="csv_contact_add"  data-toggle="modal" data-target="#modal_csv">Import from csv-file
                </button>

            </div>
            <div class="box-body">
                <div class="tab-pane active">
                    <table id="allContactsTable" class="table table-hover" width="100%">
                        <thead>
                            <tr>
                                <th width="1%">ID</th>
                                <th>Name</th>
                                <th>Surname</th>
                                <th class="sorting">City</th>
                                <th>Country</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Date Birthday </th>
                                <th id="date_add">Date Add <i class="fa fa-sort"></i></th>
                                {% if user.is_superuser %}
                                <th id="user_row" width="15%">User</th>
                                {% else %}
                                <th id="user_row" width="15%"></th>
                                {% endif %}
                                <th>Buttons</th>
                            </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>
                                <select class="form-control" id="city-filter">
                                <option value="0" selected>All</option>
                                    {% for row in city_name %}
                                    <option value="{{ row }}">{{ row }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                            <th>
                                <select class="form-control" id="country-filter">
                                <option value="0" selected>All</option>
                                    {% for row in country_name %}
                                    <option value="{{ row }}">{{ row }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>



    <div id="contacts_modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="contact_title_modal">Manage Contacts Form</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal"> {% csrf_token %}
                        <div class="form-group" hidden>
                            <label for="contact_id" class="col-sm-3 control-label">ID</label>
                            <div class="col-sm-7 " id="id_div">
                                <input id="contact_id" class="form-control" type="text" value="" readonly>
                                <span class="help-block" id="id_help"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="contact_name" class="col-sm-3 control-label">Contact Name</label>
                            <div class="col-sm-7" id="contact_name_div">
                                <input id="contact_name" class="form-control" type="text" value="" required>
                                <span class="help-block" id="contact_name_help"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="contact_surname" class="col-sm-3 control-label">Contact Surname</label>
                            <div class="col-sm-7" id="contact_surname_div">
                                <input id="contact_surname" class="form-control" type="text" value="" required>
                                <span class="help-block" id="contact_surname_help"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="contact_city" class="col-sm-3 control-label">City</label>
                            <div class="col-sm-7" id="city_name_div">
                                <input id="contact_city" class="form-control" type="text" value="">
                                <span class="help-block" id="city_name_help"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="contact_country" class="col-sm-3 control-label">Country</label>
                            <div class="col-sm-7" id="country_name_div">
                                <input id="contact_country" class="form-control" type="text" value="">
                                <span class="help-block" id="country_name_help"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="contact_phone" class="col-sm-3 control-label">Mobile phone</label>
                            <div class="col-sm-7" id="phone_number_div">
                                <input id="contact_phone" class="form-control" type="text" value="">
                                <span class="help-block" id="phone_number_help"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="contact_email" class="col-sm-3 control-label">E-mail</label>
                            <div class="col-sm-7" id="email_contact_div">
                                <input id="contact_email" class="form-control" type="email" value="" required>
                                <span class="help-block" id="email_contact_help"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="contact_b_date" class="col-sm-3 control-label">Birthday date:</label>
                            <div class="col-sm-7" id="date_birthday_div">
                                <div class='input-group date'>
                                    <input type="text" id="contact_b_date" class="form-control" value="">
                                    <span class="help-block" id="date_birthday_help"></span>
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" disabled="false">
                            <label for="contact_add_date" class="col-sm-3 control-label">Date Add</label>
                            <div class="col-sm-7" id="date_add_div">
                                <div class='input-group date' readonly>
                                    <input type="text" id="contact_add_date" class="form-control"
                                           value="" disabled required>
                                    <span class="help-block" id="date_add_help"></span>
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer" >
                    <button type="button" class="btn btn-danger pull-left" id="delete_contact">Delete</button>
                    <button type="button" class="btn btn-warning" id="new_contact" hidden="hidden">Save</button>
                    <button type="button" class="btn btn-warning" id="export_contact" hidden="hidden">Export in GetVero</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modal_vero" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Header modal window -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Export contacts in GetVero</h4>
                </div>
                <!-- Body modal window -->
                <div class="modal-body">
                    <h4 id="question">Are you sure that you want to export contacts to GetVero?</h4>
                    <div id="overlay" hidden>
                        <div id="vero_in_process">
                            <p class="text-center">
                            <strong>Data export in progress, this can take a few minutes...</strong>
                            <i class="fa fa-refresh fa-spin"></i>
                            </p>
{#                            <img src="{% static 'images/moving_gears.gif' %}" class="img-responsive center-block">#}
                        </div>
                    </div>
                </div>
                <!-- Footer modal window -->
                <div class="modal-footer" id="footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    <button id="export_vero" type="button" class="btn btn-warning pull-left">Export</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modal_csv" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Header modal window -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Import contacts from csv-file</h4>
                </div>
                <!-- Body modal window -->
                <div class="modal-body">
                    <h4 id="csv_file_name"  hidden><b>Upload successful</b></h4>
                    <div class="form-group" id="upload_contacts">
                        <div class="box-group">
                            <form action="{% url 'core:upload_csv_file' %}" method="post" id="upload_form_csv_file"  enctype="multipart/form-data">
                                {% csrf_token %}
                                <label class="control-label">Select file</label>
                                <input type="file" name="csvFile" id="csvFile" data-show-preview="false"
                                       accept=".csv" data-allowed-file-extensions='[".csv"]'>
                                <div class="box-footer">
                                    <button type="submit" id="uploadFile" class="" style="float: right;">Upload</button>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
                <!-- Footer modal window -->
                <div class="modal-footer" id="footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    <button id="import_csv" enabled type="button" class="btn btn-warning pull-left">Import csv</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js_bottom %}
    <script type="text/javascript" src="{% static 'js/core/all_contcts_datatable.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/fileinput/fileinput.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/datepicker/bootstrap-datepicker.js' %}"></script>
{% endblock %}