<form id="change_password">
    {% csrf_token %}
    <div class="form-group">
        <label for="old_password" class="col-sm-6 control-label">Current password:</label>
        <div class="col-sm-6" id="old_password_div">
            <input type="password" name="old_password" type="text" class="form-control" id="old_password" placeholder="Old Password">
            <span class="help-block" id="old_password_help"></span>
        </div>
    </div>
    <div class="form-group">
        <label for="new_password" class="col-sm-6 control-label">New password</label>

        <div class="col-sm-6" id="new_password_div">
            <input type="password" name="new_password" type="text" minlength="8" maxlength="32" class="form-control" id="new_password" placeholder="New password">
            <span class="help-block" id="new_password_help"></span>
        </div>
    </div>
    <div class="form-group">
        <label for="password_confirmation" class="col-sm-6 control-label">Password confirmation</label>
        <div class="col-sm-6" id="password_confirmation_div">
            <input type="password" name="password_confirmation" minlength="8" maxlength="32" type="text" class="form-control" id="password_confirmation" placeholder="Password confirmation">
            <span class="help-block" id="password_confirmation_help"></span>
        </div>
    </div>
</form>