{% extends 'base_auth.html' %}
{% load static %}
{% block title %} Contacts | Sign Up{% endblock %}
{% block body %}
    <body class="hold-transition register-page">
    <div class="register-box registration-box">
        <div class="register-logo" style="">
            <a href="/"><b>Contacts</b> Data Base</a>
        </div>
        <div class="register-box-body">
            <form id="signup_form" method="post" action="{% url "accounts:register" %}">
                {% csrf_token %}
                {% for error in form.non_field_errors %}
                    <p class="text-red text-center">{{ error|escape }}</p>
                {% endfor %}
                {% for error in form_profile.non_field_errors %}
                    <p class="text-red text-center">{{ error|escape }}</p>
                {% endfor %}
                <div class="form-group has-feedback {% if form.username.errors %} has-error {% endif %}">
                    <input type="text" class="form-control" id="username"
                           value="{% if form.username.value %}{{ form.username.value }}{% endif %}" name="username"
                           placeholder="Username" required>
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    {% for error in form.username.errors %}
                        <span class="help-block">{{ error|escape }}</span>
                    {% endfor %}
                </div>
                <div class="form-group {% if form.first_name.errors %} has-error {% endif %}">
                    <input type="text" class="form-control"
                           value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
                           name="first_name" placeholder="First name" required>
                    {% for error in form.first_name.errors %}
                        <span class="help-block">{{ error|escape }}</span>
                    {% endfor %}
                </div>
                <div class="form-group {% if form.last_name.errors %} has-error {% endif %}">
                    <input type="text" class="form-control"
                           value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}" name="last_name"
                           placeholder="Last Name" required>
                    {% for error in form.last_name.errors %}
                        <span class="help-block">{{ error|escape }}</span>
                    {% endfor %}
                </div>
                <div class="form-group has-feedback  {% if form.email.errors %} has-error {% endif %}">
                    <input type="email" class="form-control"
                           value="{% if form.email.value %}{{ form.email.value }}{% endif %}" name="email"
                           placeholder="Email" required>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    {% for error in form.email.errors %}
                        <span class="help-block">{{ error|escape }}</span>
                    {% endfor %}
                </div>
                <div class="form-group  {% if form_profile.phone_number.errors %} has-error {% endif %}">
                    <input type="text" class="form-control"
                           value="{% if form_profile.phone_number.value %}{{ form_profile.phone_number.value }}{% endif %}"
                           name="phone_number" placeholder="Phone Number" required>
                    {% for error in form_profile.phone_number.errors %}
                        <span class="help-block">{{ error|escape }}</span>
                    {% endfor %}
                </div>
                <div class="form-group has-feedback  {% if form.password.errors %} has-error {% endif %}">
                    <input type="password" class="form-control" name="password" placeholder="Password" required>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    {% for error in form.password.errors %}
                        <span class="help-block">{{ error|escape }}</span>
                    {% endfor %}
                </div>
                <div class="form-group has-feedback  {% if form.password2.errors %} has-error {% endif %}">
                    <input type="password" class="form-control" name="password2" placeholder="Password Confirmation" required>
                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                    {% for error in form.password2.errors %}
                        <span class="help-block">{{ error|escape }}</span>
                    {% endfor %}
                </div>
                <div class="form-group has-feedback {% if form_profile.vero_api_key.value %} has-error {% endif %}">
                    <input type="text" class="form-control"
                           value="{% if form_profile.vero_api_key.value %}{{ form_profile.vero_api_key.value }}{% endif %}" name="vero_api_key"
                           placeholder="Vero Token API" required>
                    {% for error in form_profile.vero_api_key.errors %}
                        <span class="help-block">{{ error|escape }}</span>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign Up</button>
                    </div>
                </div>
            </form>
            <a href="/login" class="text-center">I already have a membership</a>
        </div>
    </div>
{#    <!-- jQuery 2.1.4 -->#}
{#    <script src="{% static "plugins/jQuery/jQuery-2.1.4.min.js" %}"></script>#}
{#    <!-- Bootstrap 3.3.5 -->#}
{#    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>#}
{#    <!-- iCheck -->#}
{#    <script src="{% static "plugins/iCheck/icheck.min.js" %}"></script>#}
    <script src="{% static "js/accounts/login.js" %}"></script>
    </body>
{% endblock %}